:root {
    --Bluer: #0093C9;
    --greenr: #80BC00;
    --yellowr: #FDE021;
    --oranger: #FF4D00;
    --blackr: #231f20;
    --whiter: #FFFFFF;
    --darkBluer: #002856;
}
*{
font-family: "raleway";
}
.Navbar {
    height: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    background-image: linear-gradient(to top, var(--darkBluer),  var(--blackr));
    position: sticky;
}
.whitespace{
height: 3rem;
}
.Nav-logo img{
    z-index: 1;
    display: flex;
    height: 10rem;
    width: 10rem;
margin: auto;
position: sticky;
}

.Nav-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.Nav-item a{
    font-size: 2.5rem;
    text-align: center;
    text-decoration: none;
    color: var(--whiter);
}
.carousel-item img{
    height: 720px;
    overflow: hidden;
    }
.footer__container {
    background-image: linear-gradient(to top, var(--darkBluer),  var(--blackr));
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}
.footer__title:hover{
    color: var(--oranger);
    transition: .5s ease-out;
}

.footer__link--wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    text-align: left;
    width: 15rem;
    box-sizing: border-box;
}

.footer__link--items h2 {
    margin-bottom: 1rem;
    color: #FFF;
    text-align: center;
}

.footer__link--items a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-bottom: .5rem;
    transition: .5s ease-out;
}

.footer__link--items a:hover {
    color: var(--oranger);
    transition: .5s ease-out;
}
.facebook{
text-decoration:line-through;
}
.website__right {
    color: #fff;
}
.Info-card{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: var(--darkBluer);
    margin: 1rem 2rem ;
    border-radius: 1rem;
}
.Info-card:nth-child(odd){
    background-color: var(--Bluer);
    grid-template-columns: 1fr 3fr;
}
.Info-text{
    padding: 2rem;
color: var(--whiter);
}
.Info-text-real{
    font-size: 1.5rem;
}