:root {
    --Bluer: #0093C9;
    --greenr: #80BC00;
    --yellowr: #FDE021;
    --oranger: #FF4D00;
    --blackr: #231f20;
    --whiter: #FFFFFF;
    --darkBluer: #002856;
}

.Navbar {
    height: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    background-color: aquamarine;
    background-image: linear-gradient(to top, var(--darkBluer),  var(--blackr))
}
.whitespace{
height: 3rem;
}
.Nav-logo img{
    z-index: 1;
    display: flex;
    height: 10rem;
    width: 10rem;
margin: auto;
}

.Nav-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.Nav-item a{
    font-size: 2.5rem;
    text-align: center;
    text-decoration: none;
    color: var(--whiter);
}
.caraousel-item img{
height: 1v;
}